<mat-toolbar class="header"> 
    <span class="wmgtss">WMGTSS</span>
    <img src="/assets/WMG.png" class="wmg-logo">
    
    <div class="resource-container">
        <button mat-flat-button aria-label="Back to modules buutton" class="buttons-style">
            Back to modules
        </button>
        <button mat-flat-button aria-label="Back to boards buutton" class="buttons-style">
            Back to boards
        </button>
    </div>
    
    <div>
        <!--<span *ngIf="studentSignedIn"> Student ID: </span>-->
        <button mat-flat-button aria-label="Sign out button" class="sign-out-button">
            Sign out
        </button>
    </div>
</mat-toolbar>