<mat-toolbar class="footer"> 
    <span class="wmgtss">WMGTSS</span>
    <span class="university-resources">University Resources</span>
    <span class="bookmark-follow">Bookmark and Follow</span>

    <div class="resource-options-container">
        <button mat-flat-button aria-label="Timetable" class="buttons-style">
            Timetable
        </button>
        <button mat-flat-button aria-label="Library" class="buttons-style">
            Library
        </button>
        <button mat-flat-button aria-label="University Software" class="buttons-style">
            University Software
        </button>
    </div>
    <div class="bookmark-options-container">
        <button mat-flat-button aria-label="This Board" class="buttons-style">
            This Board
        </button>
        <button mat-flat-button aria-label="This Module" class="buttons-style">
            This Module
        </button>
    </div>
</mat-toolbar>