<div class="page-container">
    <div class="module-button-container">
        <a routerLink="/QuizSelection" routerLinkActive="active">
            <button mat-flat-button aria-label="SDLC" class="buttons-style">
                Software Development Life Cycle
            </button>
        </a>
        <button mat-flat-button aria-label="MA" class="buttons-style">
            Machine Intelligence
        </button>
    </div>

    <div class="button-container">
        <a routerLink="/SignIn" routerLinkActive="true">
            <button mat-flat-button aria-label="signOut" class="button-style">
                Sign Out
            </button>
        </a>
    </div>
</div>
