.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
}

.quiz-button-container {
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-45%, -45%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttons-style {
    border: none;
    background-color: rgb(89, 206, 245);
    color: white;
    height: 40px;
    width: 280px;
}

.button-container {
    position: absolute;
    bottom: 22%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 1500px
}

.button-style {
    border: none;
    background-color: rgb(89, 206, 245);
    color: white;
    height: 40px;
    width: 150px;
}

/* .quiz-status-container {
    position: absolute;
    left: 58%;
    top: 40%;
    transform: translate(-45%, -45%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
} */

/* .text-style {
    color: lightslategray;
    font-size: 20px;
} */