.questions {
    font-style: bold;
    font-size: 20px;
}

.radio-groups {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: flex-start;
    background-color: lightgray;
}
  
.radio-button-style {
    margin: 5px;
    font-size: 15px;
}