.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
}

.header {
    text-align: center;
    font-style: bold;
    font-size: 35px;
    margin-top: 20px;
}

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    background: lightgray;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16;
}

.button-style {
    border: none;
    background-color: rgb(89, 206, 245);
    color: white;
    height: 40px;
    width: 300px;
}