<div class="quiz-button-container">
    <a routerLink="/sdlcQuiz1" routerLinkActive="active">
        <button mat-flat-button aria-label="SDLC Quiz 1" class="buttons-style">
            Software Development Life Cycle Quiz 1
        </button>
    </a>
    <button mat-flat-button aria-label="SDLC Quiz 2" class="buttons-style">
        Software Development Life Cycle Quiz 2
    </button>
    <button mat-flat-button aria-label="SDLC Quiz 3" class="buttons-style">
        Software Development Life Cycle Quiz 3
    </button>
    <button mat-flat-button aria-label="SDLC Quiz 4" class="buttons-style">
        Software Development Life Cycle Quiz 4
    </button>
</div>
<div class="quiz-status-container">
    <span class="text-style">Not Started</span>
    <span class="text-style">Not Started</span>
    <span class="text-style">Not Started</span>
    <span class="text-style">Not Started</span>
</div>