<div class="page-container">
    <h1 class="header">Post Lecture Quiz</h1>
    <div>
        <label class="questions" id="radio-group1-label">What is the definition of Software?</label>
        <mat-radio-group aria-labelledby="radio-group1" class="radio-groups">
            <mat-radio-button color="primary" class="radio-button-style" *ngFor="let answer of Q1" [value]="answer" (change)="Q1AnswerChangedHandler($event)">
                {{answer}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div>
        <label class="questions" id="radio-group2-label">Which of the following is not a type of Software?</label>
        <mat-radio-group aria-labelledby="radio-group2" class="radio-groups">
            <mat-radio-button color="primary" class="radio-button-style" *ngFor="let answer of Q2" [value]="answer" (change)="Q2AnswerChangedHandler($event)">
                {{answer}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div>
        <label class="questions" id="radio-group3-label">Which of the following is not a characteristic of good Software?</label>
        <mat-radio-group aria-labelledby="radio-group3" class="radio-groups">
            <mat-radio-button color="primary" class="radio-button-style" *ngFor="let answer of Q3" [value]="answer" (change)="Q3AnswerChangedHandler($event)">
                {{answer}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div>
        <label class="questions" id="radio-group4-label">Which of the following is real programming language?</label>
        <mat-radio-group aria-labelledby="radio-group4" class="radio-groups">
            <mat-radio-button color="primary" class="radio-button-style" *ngFor="let answer of Q4" [value]="answer" (change)="Q4AnswerChangedHandler($event)">
                {{answer}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="button-container">
        <a routerLink="/HomePage" routerLinkActive="active">
            <button mat-flat-button aria-label="Exit Quiz" class="button-style">
                Exit Quiz
            </button>
        </a>
        <a routerLink="/QuizResults" routerLinkActive="active">
            <button mat-flat-button aria-label="Submit" class="button-style" (click)="submitQuiz()">
                Submit
            </button>
        </a>
    </div>
</div>


