.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
}

.header {
    text-align: center;
    font-style: bold;
    font-size: 35px;
    margin-top: 10px;
}

.answer-groups {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: flex-start;
    background-color: greenyellow;
}

.radio-button-style {
    margin: 5px;
    font-size: 15px;
}